body {
  margin: 0;
  background-color: $bg-body !important;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-title;
  color: $text-color !important;
  font-weight: 600;
}

table {
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 21px;
}

.page-title {
  span {
    color: $primary;
  }
}

.card {
  box-shadow: none;
  background-color: $bg-body;
}

.card-header {
  background-color: $bg-body;
  border-bottom: 1px solid $card-border-color;
}

.form-control {
  background-color: #f6f7fb;
}

.table {
  border: 1px solid $card-border-color;

  thead {
    tr {
      th {
        color: $text-color !important;
        background-color: $thead-bg;
        text-transform: uppercase;
      }
    }
  }

  tbody {
    tr {
      td {
        color: $text-color !important;
      }
    }
  }

  .accent-box {
    background-color: $thead-bg;

  }
}

.table-hover {
  tbody {
    tr:hover {
      td {
        background-color: #f2f0ea !important;
      }
    }

    tr {
      td:hover {
        background-color: #eef2f7 !important;
        cursor: pointer;
      }
    }
  }
}

.table-hover>tbody>tr:hover>* {
  --bs-table-color-state: none;
  --bs-table-bg-state: none;
}

// Input
input::placeholder,
textarea::placeholder {
  color: #a8b1bd !important;
}

.form-control:focus {
  border-color: var(--bs-info);
  box-shadow: 0 0 0 3px rgba(26, 187, 156, 0.06);
}

.border-r {
  border-right: 1px solid $card-border-color;
}
