.banner-info {
  background-color: rgb(6 111 209 / 6%);
  border: 1px solid rgb(6 111 209 / 22%);
}

.banner-danger {
  background-color: rgb(214 57 57 / 6%);
  border: 1px solid rgb(214 57 57 / 22%);
}
