@import "./theme-var";
@import "bootstrap/scss/functions";
@import "./variables"; // custom gen colors theme // Flatly https://bootstrap.build/
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/bootstrap";


body {
  margin: 0;
  background-color: #f5f7fb !important;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 450;
  color: #363133;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  color: #363133 !important;
  font-weight: 600;
}

table {

  th,
  td {
    color: #363133 !important;
  }
}

.page-title {
  span {
    color: grey;
    text-transform: uppercase;
    display: block;
    color: #ae3ec9;
  }
}
