.table-wrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  min-width: max-content;
  background: #fff;
}

table.data-table {

  thead {
    tr {
      background-color: #f8fbfc;

      th {
        color: #708a7f !important;
      }
    }
  }

  th,
  td {
    padding: 8px;
    border-bottom: 1px solid #f1f1f3;
    text-align: center;
    color: #626d7d !important;
    font-weight: 550;
  }

  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
    background: #fff;
    min-width: 200px;
    text-align-last: left;
    padding-left: 15px;
    background-color: #e6f1f4;
  }

  td:first-child {
    font-weight: 600;
    color: #1e2633 !important;
  }

  th:first-child {
    background-color: #e6f1f4;
    color: #707b8b !important;
    text-transform: uppercase;
    font-weight: 700;
  }

  tbody {
    tr:hover {
      td {
        background-color: #f9fafb;
      }

      td:hover {
        background-color: #e5f1f4;
        cursor: pointer;
      }
    }
  }
}
