.table-wrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  min-width: max-content;
  background: #fff;
}

table.data-table {

  thead {
    tr {
      background-color: #efeefd;
    }
  }

  th,
  td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
  }

  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
    background: #fff;
    min-width: 200px;
    text-align-last: left;
    padding-left: 15px;
    background-color: #eefcfd;
  }

  td:first-child {
    font-weight: 550;
  }

  th:first-child {
    background-color: #dad8f9;
  }
}
